[Unit]
Description=A self-hosted server to store and easily share images.

[Service]
ExecStart=/usr/bin/mauimageserver

[Install]
WantedBy=network.target
